body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: lightblue;
    /* background-image: url({{ url_for('static', filename='static/css/images/background.jpg') }}); */
    background-image: url("../images/background1.jpg");
}

h1, h2, h3, h4, h5 {
    font-family: 'Just Me Again Down Here', cursive;
}

main {
    flex: 1 0 auto;
}

/* .container {
    margin-right: 0px;
    margin-left: 0px;
} */

hr {
    width: 90%;
}

/* ------------------Header */

.navbar-style {
    background-color: #F3D9A5;
}

.navbar-text {
    color: #191919;
}

.icon-style {
    font-size: 40px;
}

.logo-style {
    font-family: 'Permanent Marker', cursive;
    margin-left: 20px;
    color: #191919;
    font-size: 30px;
}

.navbar-item {
    padding-left: 5px;
    padding-right: 5px;
}

/* ------------------Sidenav */

.sidenav-trigger-btn {
    color: #191919;
}

/* ------------------Footer */

.page-footer {
    background-color: #F3D9A5;
    color: #191919;
}

.social-links {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    color: #191919;
}

.social-links-color {
    color: #191919;
}

.copyright-div {
    background-color: rgba(0, 0, 0, 0.1)
}

/* ------------------Home page */

.home-card-style {
    border-radius: 10% !important;
}

.home-page-image {
    padding: 5px;
    border-radius: 10% !important;
}

.card-image-background {
    border-radius: 10% !important;
    background-color: darkseagreen;
}

/* ------------------Register form */

.register-form {
    margin-bottom: 100px;
}

/* ------------------login page */

.login-form {
    margin-top: 30px;
    margin-bottom: 50px;
    padding-right: 40px;
    padding-left: 40px;
}

.bring-forward {
    z-index: -9;
}

.login-border-style {
    border: 3px solid;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    position: relative;
}

/* ------------------View recipe page */

.item-center {
    margin: auto;
    width: 50%;
    align-items: center;
}

.image-container-style {
    border: 3px solid;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    /* display: inline-block; */
    padding: 70px;
    text-align: center;
    /* margin-left: 0;
    margin-right: 0; */
    margin-top: 20px;
    background: #ffffff;
    position: relative;
}

.pizza-image {
    border: 3px solid;
    border-style: dotted;
    border-radius: 10%;
    padding: 10px;
    display: inline;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.creator-name {
    display: inline;
}

.box-spacing {
    margin-right: 100px;
    margin-left: 100px;
}

#recipe-holder {
    text-align: center;
}

.recipe-box-style {
    background: #ffffff;
}

.responsive-image {
    width: 100%;
    height: auto;
    max-width: 500px;
}

/* .section-header {
    font-size: 200%;
} */

/* ------------------Upload form*/

.recipe-buttons-div {
    position: relative;
}

.button-div {
    text-align: center;
    align-items: center;
}

/*Much of the below code for border-style and card-style was taken from https://codepen.io/piccalilli/pen/MPLzay
I have adapted it slightly.*/
.border-style {
    border: 3px solid;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    position: relative;
    /* padding: 70px 0; */
}

.border-style::before {
    content: '';
    border: 2px solid;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.card-style {
    border: 3px solid;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    /* display: inline-block; */
    /* padding: 70px 0; */
    text-align: center;
    width: 50%;
    /* margin-left: 0;
    margin-right: 0; */
    margin-top: 20px;
    background: #ffffff;
    position: relative;
}

.card-style::before {
    content: '';
    border: 2px solid;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}
/*End of borrowed code.*/

/* ------------------Buttons*/

.positive-button-style {
    background-color: #176421;
    margin-top: 20px;
}

.negative-button-style {
    background-color: #c2211e;
    margin-top: 20px;
}

.pizza-button {
    background-color: #176421;
}

/* ------------------Media queries */

@media screen and (max-width: 810px) {
    .social-links {
        padding-top: 10px;
    }
}

@media screen and (max-width: 425px) {
    .button-div {
        display: block;
    }
}

/* The below media query makes the ingredients appear above the instructions at small screen sizes. */
@media screen and (max-width: 990px) {
    #recipe-holder {
        display: flex;
        flex-direction: column;
    }

    #details-box {
        order: 1;
    }

    #ingredients-box {
        order: 2;
    }

    #cooking-step-box {
        order: 3;
    }
}

@media screen and (max-width: 990px) {
    .small-screen-padding {
        margin-top: 20px; 
    }
}

@media screen and (max-width: 680px) {
    .pizza-name {
        font-size: 250%;
    }
}

@media screen and (max-width: 990px) {
    .cooking-steps-box-spacing {
        margin-right: 10vw;
        margin-left: 10vw;
    }
}

@media screen and (max-width: 350px) {
    .logo-style {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .box-spacing {
        margin-right: 10vw;
        margin-left: 10vw;
    }
}

@media screen and (min-width: 600px) {
    .login-form {
        width: 470px;
    }
}