{% extends "base.html" %}
{% block content %}


    <div class="row homepage-headliner">
        <h3 class="center-align">
            {{ username.capitalize() }}'s recipes:
        </h3>
        {% if recipes|length > 0 %}
            <p>All recipes created by you can be seen here. If you wish to edit or delete anything, click on the recipe card and
                you can make changes from the recipe page.</p>
        {% endif %}
        {% if session.user|lower == "admin"|lower %}
            <p class="admin-notice">As admin, you can view all recipes and make changes to these as required from the recipes'
            pages.</p>
        {% endif %}
        {% if recipes|length == 0 %}
            <p>It looks like you haven't uploaded any recipes yet. If you'd like to do so, click on "submit a recipe" in the navigation bar above.</p>
        {% endif %}
        <a class="btn-large negative-button-style edit-button modal-trigger" href="{{ url_for('delete_user', username=username) }}">Delete account</a>
    </div>
    <div class="row search-results-style">
        {% for recipe in recipes %}
        <div class="col s12 m6">
            <div class="card medium home-card-style">
                <div class="card-image card-image-background">
                    <a href="#">
                        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                            <img src="{{ recipe.image_url }}" class="responsive-image home-page-image" alt="pizza-image">
                        </a>
                    </a>
                </div>
                <div class="card-content card-content-padding">
                    <h4>{{ recipe.pizza_name }}</h4>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col s12 m8 offset-m2">
            {% if recipes|length > 0 %}
            <div class="pagination-controls-style">
                    {{ pagination.links }}
                    {{ pagination.info }}
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}