{% extends "base.html" %}
{% block content %}

    <h1 class="center-align">Upload your recipe</h1>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pizza-slice prefix"></i>
                    <!--Name attribute below must match the key in the database, as this is what Python uses to grab data from the form to put into the database-->
                    <input id="pizza_name" name="pizza_name" minlength="4" maxlength="50" type="text" class="validate" required>
                    <label for="pizza_name">Pizza name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-feather-alt prefix"></i>
                    <!--Name attribute below must match the key in the database, as this is what Python uses to grab data from the form to put into the database-->
                    <textarea id="short_description" name="short_description" minlength="5" maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="short_description">Short description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pepper-hot prefix"></i>
                    <input id="ingredients" name="ingredients" type="text" class="validate" minlength="4" required>
                    <label for="ingredients">Ingredients</label>
                    <!--Below is where each new ingredient is added-->
                    <div id="ingredient-insert"></div>
                    <button type="button" id="next-ingredient-button">Add ingredient</button>
                    <button type="button" id="delete-ingredient-button">Delete ingredient</button>
                </div>
            </div>
            <!--Category options-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix"></i>
                    <!--Name attribute below must match the key in the database, as this is what Python uses to grab data from the form to put into the database-->
                    <select multiple id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Select one or more categories for your pizza recipe</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Pizza categories</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <div class="switch">
                        <i class="fas fa-egg prefix"></i>
                        <label for="is_vegetarian">
                            <input type="checkbox" id="is_vegetarian" name="is_vegetarian">
                            <span class="lever"></span>
                            Vegetarian
                        </label>
                    </div>
                </div>
                <div class="input-field col s4">
                    <div class="switch">
                        <i class="fas fa-seedling prefix"></i>
                        <label for="is_vegan">
                            <input type="checkbox" id="is_vegan" name="is_vegan">
                            <span class="lever"></span>
                            Vegan
                        </label>
                    </div>
                </div>
                <div class="input-field col s4">
                    <div class="switch">
                        <i class="fas fa-bread-slice prefix"></i>
                        <label for="is_gluten_free">
                            <input type="checkbox" id="is_gluten_free" name="is_gluten_free">
                            <span class="lever"></span>
                            Gluten free
                        </label>
                    </div>
                </div>
            </div>
            <!--Submit button-->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="submit btn-large">
                        Submit pizza <i class="fas fa-motorcycle"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
