<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The below code adds Materialize CSS to the project -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <!--The below code adds FontAwesome to the project-->
    <script src="https://kit.fontawesome.com/17b09219bc.js" crossorigin="anonymous"></script>
    <!--The following three lines add Google Fonts to the project-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Halo Pizza Club</title>
</head>
<body>
    
    <header>
        <!--Navbar header-->
        <!--This navbar is a Materialize component, swiped from here: https://materializecss.com/navbar.html-->
        <nav class="nav-extended navbar-style">
            <div class="nav-wrapper navbar-text">
                <a href="{{ url_for('get_recipes') }}" class="logo-style">Halo Pizza Club</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger sidenav-trigger-btn"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_recipes') }}" class="navbar-text">Home</a></li>
                    <li><a href="#" class="navbar-text">Profile</a></li>
                    <li><a href="#" class="navbar-text">Submit a recipe</a></li>
                    <li><a href="#" class="navbar-text">Manage collections</a></li>
                    <li><a href="#" class="navbar-text">Log out</a></li>
                    <li><a href="#" class="navbar-text">Log in</a></li>
                    <li><a href="{{ url_for('register') }}" class="navbar-text">Create account</a></li>
                </ul>
            </div>
        </nav>
        <!--The below sidenav is part of the navbar above, and pinched from the same place-->
        <ul class="sidenav" id="mobile-demo">
            <li><h3 class="logo-style center-align">Halo Pizza Club</h3></li>
            <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Submit a recipe</a></li>
            <li><a href="#">Manage collections</a></li>
            <li><a href="#">Log out</a></li>
            <li><a href="#">Log in</a></li>
            <li><a href="{{ url_for('register') }}">Create account</a></li>
        </ul>
    </header>

    <section>
        <!--This is where we display our flash messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <!--The footer below is -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s4 offset-s4">
                    <h5 class="center-align">Find us on social media</h5>
                    <ul class="center-align">
                        <li class="social-links center-align"><a class="fab fa-facebook icon-style social-links-color" href="#!"></a></li>
                        <li class="social-links center-align"><a class="fab fa-twitter-square icon-style social-links-color" href="#!"></a></li>
                        <li class="social-links center-align"><a class="text-lighten-3 fab fa-instagram-square icon-style social-links-color" href="#!"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-div">
            <div class="container">
                <p class="center-align">© 2021 Halo Pizza</p>
            </div>
        </div>
    </footer>

    <!--The below code loads Jquery into the project-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- The below code adds Materialize CSS JavaScript to the project -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>