<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The below code adds Materialize CSS to the project -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <!--The below code adds FontAwesome to the project-->
    <script src="https://kit.fontawesome.com/17b09219bc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Halo Pizza</title>
</head>
<body>
    
    <header>
        <!--Navbar header-->
        <!--This navbar is a Materialize component, swiped from here: https://materializecss.com/navbar.html-->
        <nav class="nav-extended navbar-style">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Halo Pizza</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Submit a recipe</a></li>
                    <li><a href="#">Manage collections</a></li>
                    <li><a href="#">Log out</a></li>
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Create account</a></li>
                </ul>
            </div>
        </nav>
        <!--The below sidenav is part of the navbar above, and pinched from the same place-->
        <ul class="sidenav" id="mobile-demo">
            <li><h3>Halo Pizza</h3></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Submit a recipe</a></li>
            <li><a href="#">Manage collections</a></li>
            <li><a href="#">Log out</a></li>
            <li><a href="#">Log in</a></li>
            <li><a href="#">Create account</a></li>
        </ul>
    </header>

    {% block content %}
    {% endblock %}

    <!--The below code loads Jquery into the project-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- The below code adds Materialize CSS JavaScript to the project -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>