{% extends "base.html" %}
{% block content %}


    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6">
            <div class="card medium">
                <div class="card-image">
                    <a href="#">
                        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                            <img src="{{ recipe.image_url }}">
                        </a>
                    </a>
                </div>
                <div class="card-content">
                    <span class="card-title">{{ recipe.pizza_name }}</span>
                    <!-- <strong>{{ recipe.category_name }}</strong> -->
                    <p>{{ recipe.short_description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    

{% endblock %}