{% extends "base.html" %}
{% block content %}

<div class="row card-style">
    <h1 class="center-align">{{ recipe.pizza_name }}</h1>
</div>
<div class="row item-center">
    <div class="image-container-style">
        <img src="{{ recipe.image_url }}"></img>
    </div>
</div>
<div class="row">
    <div class="border-style">
        {% for ingredient in recipe.ingredients %}
        <ul>
            <li>{{ ingredient }}</li>
        </ul>
        {% endfor %}
    </div>
</div>
<div>
    {{ recipe.cooking_instructions }}
</div>

{% endblock %}